<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>

  <body>
    <h1>Edit Task</h1>
    <form action="/todo/<%= todo._id %>?_method=PUT" method="post">
      <!--  NOTE: the form is pre-populated with values for the server-->
      Priority: <input type="text" name="priority" value="<%=todo.priority%>" /><br />
      Task: <input type="text" name="task" value="<%=todo.task%>" /><br />
      Completed: <input type="checkbox" name="completed" <% if(todo.completed
      === true){ %> checked <% } %> />
      <br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>